* {
    font-family: 'Roboto', sans-serif;
}
header{
    position: relative;
}
nav{
    height: 50px;
    background-color: #212121;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
    flex-grow: 0;
    
  
}
.menu .menu_link{
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}
.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 45px;
}
.subheader{
    position: absolute;
    height: 87px;
    width: 100%;
    background-color:rgba(0, 0, 0, .6);
    
}
.subheader .subheader_logo{
    display: block;
    margin-top: 19px;
    max-width: 100%;

}
.subheader .subheader_official{
    min-width: 255px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 100;
    opacity: 60%;
}
.subheader .call{
    margin-top: 24px;
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    width: 166px;
}
.subheader .phone{
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    width: 187px;
    text-decoration: none;
}
.subheader_btn{
    margin-top: 21px;
    height: 46px;
    width: 172px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
}
.promo{
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url(../img/uber_bg.png) center center/ cover no-repeat;
}
.promo .promo_header{
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
}
.promo .promo_subheader{
    margin: 0;
    margin-top: 22px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
}
.promo .promo_descr{
    width: 985px;
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}
.promo .promo_btn{
    display: block;
    margin: 115px auto 0 auto;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 63px;
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;

}

.reasons{
    min-height: 849px;
    padding: 20px 0 64px 0;
}

.reasons .reason_header{
    background-color: black;
    display: block;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    text-transform: uppercase;
    display: flex;
    width: 113px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.reasons .reason_subheader{
    margin-top: 33px;
    color: #222;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.reasons .reason_item .reason_circle .reason_img{
    max-width: 80px;
    max-height: 66px;
    flex-shrink: 0;
}
.reasons .reason_item .reason_text{
    margin-left: 25px;
    max-width: 372px;
    color: #202020;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}
.reasons .reason_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}
.reasons .reason_item .reason_circle{
    border-radius: 100%;
    width: 116px;
    height: 116px;
    flex-shrink: 0;
    background-color: #1EACC7;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #1EACC7;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; 
}
